# Operator Public IP - 0.0.0.0/0 if you are lazy! 
# Supports comma-separated list for multiple operators. Ex) 1.1.1.1/32,1.1.1.2/32,2.2.2.0/24 
OPERATOR_PUBLIC_IP_CIDR=0.0.0.0/0,1.1.1.1/32

# AWS Credentials
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

# Cloudflare Credentials (Only required when using CF for DNS)
CLOUDFLARE_API_TOKEN=

# DNS Provider Configuration (cloudflare or route53)
DNS_PROVIDER=route53

# AWS Infrastructure
AWS_REGION=ap-northeast-2     # South Korea 
AWS_VPC_ID=vpc-YOUR_VPC_ID_HERE
AWS_SUBNET_ID=subnet-YOUR_SUBNETID_HERE
AWS_AMI=ami-0a71e3eb8b23101ed # Ubuntu server 24.04 
AWS_EC2_NAME=aws-redirector-pulumi
AWS_EC2_TYPE=t3.micro
AWS_ROOT_VOLUME_SIZE_GB=8
USE_ELASTIC_IP=false          # Use Elastic IP (true)? Or not (false)?
AWS_SSH_KEY_NAME=

# SSH Private Key filepath that matches AWS_SSH_KEY_NAME (ex. /home/kali/.ssh/sshkey.pem)
SSH_KEY_FILEPATH=

# DNS Configuration 
DNS_A_RECORD=subdomain
DNS_DOMAIN=domain.com
AWS_ROUTE53_ZONE_ID=           # Only required for route53

# Redirector Configuration
REDIRECTOR_C2_URL=https://10.1.1.1:443